@model Student

<h4>Tickets</h4>
<table class="table table-sm">
    <!-- complete the table to display the Model Tickets property (list of ticket) -->  
      <thead>
        <tr>
          <th>Ticket Issue</th>
          <th>Created On</th>
          <th>Active</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @foreach(var t in Model.Tickets) {
        <tr>
          <td>@t.Issue</td>
          <td>@t.CreatedOn</td>
          <td>@t.Active</td>
          <td>
               <a asp-action="TicketDelete" asp-route-id="@Model.Id" class="btn btn-sm btn-secondary">Delete</a> 
          </td>
        </tr>
        }
      </tbody>
 

</table> 